extend ./layout

block content
  h3 Impostazioni
  if RO
    p Nessuna impostazione modificabile
  else
    small Qui puoi modificare le impostazioni

    .row
      .col-md
        form(method="post" action="/settings")

          fieldset
            h5 Generali

            .form-group
              label(for='list_name') Nome della lista
              input#list_name.form-control(type='text' placeholder='personal' name="name" value=Config.Name)
              small.form-text.text-muted specificare un nome da assegnare alla lista

            .form-group
              label(for='loglevel') Livello di Log
              select#loglevel.form-control(name="loglevel" value=Config.LogLevel)
                option(value="debug" selected=Config.LogLevel == 'debug') debug
                option(value="info" selected=Config.LogLevel == 'info') info
                option(value="warn" selected=Config.LogLevel == 'warn') warn
                option(value="error" selected=Config.LogLevel == 'error') error

              small.form-text.text-muted specificare il livello di log dell'applicativo (NOTE: 'debug' e' molto verboso!)
            .form-group
              label(for='ip_addr') Indirizzo IP all'interno della rete domestica
              input#ip_addr.form-control(type='text' placeholder='192.168.1.2' name="ip" value=Config.LocalIp)
              small.form-text.text-muted specificare l'indirizzo ip di questo dispositivo all'interno della rete domestica
            .form-group
              label(for='port') Porta di ascolto del server http
              input#port.form-control(type='number' placeholder='3000' name="port" value=Config.Port)
              small.form-text.text-muted consigliato 3000
            .form-group
              label(for='sock_port') Porta di ascolto del socket (web-ui)
              input#sock_port.form-control(type='number' placeholder='14432' name="socketPort" value=Config.SocketPort)
              small.form-text.text-muted specificare la porta di ascolto su cui connettere la web-ui
            .form-group
              label(for='cache') Percorso della cartella di cache
              input#cache.form-control(type='text', placeholder='./cache' name="cache" value=Config.Path)
              small.form-text.text-muted specificare la cartella usata come cache

          fieldset
            h5
              | Canali TV
              label(for='tv_enabled' style="float: right; margin-right: 10px")
                | attivato
                input#tv_enabled(type="checkbox" name="tvenabled" value="true" checked=Config.M3U.Enabled===true)
            .form-group
              label(for='urlm3u') Percorso da cui recuperare la lista M3U
              input#urlm3u.form-control(type='text' placeholder='URL o percorso' name="url" value=Config.M3U.Url)
              small.form-text.text-muted puoi specificare un path in locale
            .form-group
              label(for='useragent') User-Agent
              label(for='useforstream' style="float: right")
                | Includi nello stream url
                input#useforstream(type="checkbox" name="useforstream" value="true" checked=Config.M3U.UseForStream===true)
              label(for='usefulldomain' style="float: right; margin-right: 10px")
                | Usa Url completo nel link di stream
                input#usefulldomain(type="checkbox" name="usefulldomain" value="true" checked=Config.M3U.UseFullDomain===true)
              label(for='usedirectlink' style="float: right; margin-right: 10px")
                | Usa Url diretti, senza usare proxy
                input#usedirectlink(type="checkbox" name="usedirectlink" value="true" checked=Config.M3U.UseDirectLink===true)
              input#useragent.form-control(type='text', placeholder='Kodi' name="useragent" value=Config.M3U.UserAgent || 'Kodi' )
              small.form-text.text-muted specificare lo user-agent usato per recuperare la lista, ad esempio 'Kodi' o 'VLC'
            .form-group
              label(for='excludegroups') Gruppi da escludere
              input#excludegroups.form-control(type='text', placeholder='' name="groups" value=(Config.M3U.ExcludeGroups||[]).join(',') )
              small.form-text.text-muted specificare i gruppi da escludere separati da virgola


          fieldset
            h5 EPG
            .form-group
              label(for='bulk') Richeste concorrenti
              input#bulk.form-control(type='number' placeholder='3' value=Config.EPG.bulk name="bulk")
              small.form-text.text-muted specificare il numero di richieste parallele (solitamente non oltre il num di core del cpu)
            .form-group
              label(for='sock') File di socket
              input#sock.form-control(type='text' placeholder='Percorso del file .sock' value=Config.EPG.Sock name="sock")
              small.form-text.text-muted specificare path del file socket su cui scrivere l'epg risultante (usato solitamente per TvHeadEnd Server)

          button(type="submit" class="btn btn-primary" id="btn-settings-save") Salva



block extrajs
  script(src="/app.bundled.js")

