html
  head
    link(href="/bootstrap.min.css" rel="stylesheet" type="text/css")

    link(rel="stylesheet", href="/css/style.css")
  body(class= RO ? 'read-only' : '')

    .wrapper
      if !RO
        if HAS_UPDATE
          header.update
            h5(title=`Lanciare il comando \`npm install ${NAME}\` per aggiornare`) Nuova versione disponibile!
        nav.sidebar
          .sidebar-content
            ul.sidebar-nav
              li.sidebar-header
                a.sidebar-link(href="/") Home
              each module in Modules
                if module == '/tv'
                  li.sidebar-item
                    a.sidebar-link(href="#")= module.substring(1).toUpperCase()
                      ul.sidebar-nav
                        each list in Config.M3U
                          li.sidebar-item.active
                            a.sidebar-link(href=`/tv/${list.Name}`)= list.Name


                else
                  li.sidebar-item
                    a.sidebar-link(href=`${module}/`)= module.substring(1).toUpperCase()



      .page
        .container-fluid
          block content




    if !RO
      .container-fluid(id="logger")
        button.btn.btn-outline-info.btn-sm#clear_log(title="Pulisci il log") Pulisci Log
        .row
          div.col-md.logger(id="log")


    script.
      window.Config = {
        SocketPort: !{JSON.stringify(Config.SocketPort)}
      };
    block extrajs
