extend ../layout

block content
  #epg-page
    h3 Electronic Program Guide
      button#update-chl.btn.btn-primary.btn-sm(title="Aggiorna la lista canali") Aggiorna lista canali
    small Qui puoi visualizzare la lista canali del palinsesto tv

    p= `Canali attuali: ${EPG.EPG.length}`

    #actions
      form.form-inline(method="post" action="/settings")
        .form-group.mx-sm-3.mb-2
          label(for="date") Data
          input#date.form-control.form-control-sm(type='date', title="Selezionare il giorno desiderato" value=currentDate min=currentDate max=maxDate)
        .form-group.mx-sm-3.mb-2
          label(for="days") Numero giorni
          select#days.form-control.form-control-sm(title="Selezionare il numero di giorni seguenti" value="0" )
            option(value="0") 0
            option(value="1") 1
            option(value="2") 2
        .form-group.mx-sm-3.mb-2
          label(for="yest")
            input#yest.form-control.form-control-sm(type="checkbox" value="1" title="Includere il giorno prima?" )
            |  Ieri?

        .form-group.mx-sm-3.mb-2
          label(for="shift") Time-Shift?
          input#shift.form-control.form-control-sm(type="text" placeholder="Indicare il time-shift separato da virgola" title="Indicare il timeshift di ogni canale (in ore) ex. Fox e Fox+1 Fox+2 ..." )

        .form-group.mx-sm-3.mb-2
          label(for="full")
            input#full.form-control.form-control-sm(type="checkbox" value="1" title="Indicare se caricare il dettaglio di ogni programma" )
            |  Dettagliato?


        a#generate-epg.btn.btn-secondary(title="Genera XMLTV dal file di cache" download="cached_epg.xml" href="#") Genera EPG
        a#update-epg.btn.btn-primary(title="Calcola EPG e genera XMLTV" download="new_egp.xml" href="#") Calcola EPG

    #channels-list
      ul
        each chl in EPG.EPG
          li.channel-item(id=chl.Id)
            span.logo
              img(src=chl.Logo)
            span.number
              small= chl.Number
            if ( chl.Url)
              span.name
                a(href=chl.Url target="_blank")= chl.Name
            else
              span.name= chl.Name
            span
              small(style="font-style: italic")= `(${chl.IdEpg})`
            if ( chl._epg && Object.keys(chl._epg).length > 0 )
              span.epg EPG
            .epg-container






block extrajs
  script.
    window.Channels = !{JSON.stringify(EPG.EPG)};
  script(src="/js/epg.js")
